.container {
  margin: 0 12%;
  padding: 2%;
  background-color: white;
}

.form {
  margin-top: 24px;
}
.fieldContainer {
  width: 100%;
  padding: 0px 16px;
}
.menu {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
}
