.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 64px;
  box-shadow: 2px 3px 13px rgba(0, 0, 0, 15%);
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 15%);
  position: sticky;
  top: 0;
  z-index: 100;
}

.main {
  min-height: calc(100vh - 64px);
  margin-top: 24px;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 16px;
}
