.container {
  display: flex;
  justify-self: center;
  background-color: white;
  width: 40%;
  min-width: 368px;
  min-height: 300px;
  padding: 4px;
}
.childrenContainer {
  padding: 16px;
  width: 100%;
}
